---
---

@import "{{ site.theme }}";

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #41526b, #212121);
  background: -webkit-linear-gradient(top, #41526b, #212121);
  background: -ms-linear-gradient(top, #41526b, #212121);
  background: -o-linear-gradient(top, #41526b, #212121);
  background: linear-gradient(to top, #41526b, #212121);
}

#footer_wrap {
  background: #41526b;
}

#lang-switch-nav
{
	background: #dbdee3;
	text-align-last: right;
	padding-right: 1rem;
	border: none;
}

.inner {
  max-width: 768px;
}
